body{
    background-color: rgba(0, 0, 0, 0.87);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.po-var{
    display:flex;
    margin:200px;
    flex-flow: column wrap;
    align-items: center;
    border:solid 1px white;
    background-color: #676767;
}

.sg{
    margin:50px;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    border:solid 1px white;
    background-color: #676767;
    padding:50px;
    
}

#glob{
    text-align: center;
}

h1
{
  color:#6495ED;  
}